[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Documentation Navigator
Comment=Documentation Navigator
Icon=/home/jiao/xilinx/DocNav/resources/doc_nav_application_48.png
Exec=/home/jiao/xilinx/DocNav/docnav 
