[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=PDM 2025.2
Comment=PDM 2025.2
Icon=/home/jiao/xilinx/2025.2/PDM/doc/images/pdm_logo64.png
Exec=/home/jiao/xilinx/2025.2/PDM/bin/pdm 
