[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vivado 2025.2 Tcl Shell
Comment=Vivado 2025.2 Tcl Shell
Icon=/usr/share/icons/gnome/32x32/apps/terminal.png
Exec=xterm -e /home/jiao/xilinx/2025.2/Vivado/bin/vivado -mode tcl
